<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .image-container a {
            margin: 5px;
        }
        .image-container img {
            width: 40rem;
            height: 36rem;
            margin: 5px;
        }
    </style>
    <title>Data Visualizer</title>
</head>
<body>
    <h1>Gracie's Graphing App</h1>
    
    <!-- About Section -->
    <h2>About</h2>
    <p>This web application allows you to upload a CSV file and generate various types of graphs based on the data provided. Please follow the instructions below:</p>
    <ul>
        <li>First, choose the type of graph you would like to generate. </li>
    </ul>
    
    <!-- Graph Type Selection -->
    <div class="image-container">
        <div>
            <a href="{{ url_for('index_line') }}"><img src="{{ url_for('static', filename='help_images/line.png') }}" alt="Line Graph"></a>
            <a href="{{ url_for('index_scatter') }}"><img src="{{ url_for('static', filename='help_images/scatter.png') }}" alt="Scatter Graph"></a>
        </div>
        <div>
            <a href="{{ url_for('index_linear_regression') }}"><img src="{{ url_for('static', filename='help_images/linear_regression.png') }}" alt="Linear Regression Graph"></a>
            <a href="{{ url_for('index_pareto') }}"><img src="{{ url_for('static', filename='help_images/pareto.png') }}" alt="Pareto Front Graph"></a>
        </div>
    </div>
</body>
</html>
